*{
    box-sizing: border-box;

}
html {
    height: 100%;
}

body {
    text-decoration: none;
    z-index: -99999;
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: "Lato","Geneva CY","Lucida Grande","Arial Unicode MS","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.giaodienchinh{
    overflow: hidden;
    width: 100%;
    text-decoration: none;
    z-index: 1;
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: url(../image/background-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: "Lato","Geneva CY","Lucida Grande","Arial Unicode MS","Helvetica Neue","Helvetica","Arial",sans-serif;
}
/*  */
.reponsive-main-left{
    display: none;
    width: 42px;
    height: 100%;
    background: rgb(247,247,247);
   
}
.reponsive-main-left-list{
    background-color:#5a863c;
    height: 44px;
    padding: 10px;
    cursor: pointer;
}
.reponsive-main-left-top{
    margin-bottom: 1px;
    height: 45px;
}
.reponsive-main-left-mid{
   height: 640px;
    display: flex;
    flex-direction: column;
    border-bottom: #ebebeb solid 1px;
}
.reponsive-main-left-mid-inbox{
    height: 45px;
    padding: 10px;
    cursor: pointer;
    fill: #2b8dec;
}
.reponsive-main-left-mid-groceries{
    height: 45px;
    padding: 10px;
    cursor: pointer;
    fill: #328ad6;
}
.reponsive-main-left-bottom{
    height: 43px;
    padding: 10px;
    cursor: pointer;
    fill: #328ad6;
    position: fixed;
    bottom: 0;
    left: 0;
    background:  rgb(247,247,247);
}

/*  */
.main-left {
    width: 280px;
    height: 100%;
    background-color:#5a863c;
    display: flex;
    flex-direction: column;
}
/* thu nho main left */
.thunho-main-left{
    width: 45px;
    overflow: hidden;
}
/* an cac phan tu khi thu nho main-left */
.thunho-main-left #an-mainleft{
    display: none;
}
.thunho-main-left #username{
    display: none;
}
.thunho-main-left .left-mid{
    overflow: none !important;
}
.thunho-main-left .thunho-main-left-mid-groceries{
    display: block !important;
}
.main-mid {
    flex-grow: 1;
    flex-shrink: 2;
    height: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.main-right {
    font-size: 16px;
    width: 367px;
    height: 100%;
    display: flex; 
    flex-direction: column;
    font-weight: 500;
    /* position: fixed;
    top: 0px;
    right: 0px; */
    display: none;
}

.left-top {
    height: 44px;
    background-color:#5a863c;
    display: flex;
    margin-bottom: 1px;
}
.top1{
    width:42px;
    padding: 10px;
    cursor: pointer;
}
.icon-search{
    width: 42px;
    padding: 10px;
    cursor: pointer;
    fill: #fff;
}
.search{
flex-grow: 1;
}
.search input[type=text]{
    width: 100%;
    height: 42px;
    background: #5a863c;
    border: none;
    color: #fff;
    outline: none;
}
.left-mid{
    background: rgb(247,247,247);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-bottom: #ebebeb solid 1px;
    /* overflow: auto; */
     
}
.user{
    width: 280px;
    height: 47px;
    display: flex;
    background:rgb(247,247,247);
    margin-bottom: 1px;
}
.information{
    width: 200px;
    position: relative;
}
.notification{
    flex-grow: 1;
    display: flex;
}
#avatar{
    margin: 5px 5px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-top: 5px;
}
#username{
    position: relative;
    bottom: 15px;
    font-size: 15px;
    color: #262626;
    cursor: pointer;
}
.information svg{
    margin: 9px 5px;
    cursor: pointer;

}
.thongbao{
    z-index: 2;
    position: relative;
    width: 40px;
}
.arrow-thongbao{
    display: none;
    position: absolute;
    top:42px;
    left: 4px;
    width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
    border-bottom: 15px solid#fff ;
}
.stream-popover{
    display: none;
    position: absolute;
    top:58px;
    left: -124px;
    width: 300px;
	height: 119px;
    background: #fff;
  
    flex-direction: column;
    
}
/*
.thongbao:hover .arrow-thongbao{
    display: block;
}
.thongbao:hover .stream-popover{
    display: block;
}
*/
.message:hover{
    border: 1px solid rgb(18, 70, 240);
    border-radius: 5px;
   
}
.stream-popover-top{
    line-height: 30px;
    height: 40px;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.06);
    padding: 5px 0px;
}
.stream-popover-top h3 {
    height: 30px;
    margin: 0px 16px 2px 0px;
    font-size: 16.38px;
    font-weight: bold;
    color: #262626;
}
.stream-popover-bottom{
    flex-grow: 1;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.06);
    margin-bottom: 8px;
    height: 70px;;
}
.avatar-clock{
    width: 39px;
    margin: 7px 0px 7px 7px;
}
.avatar-clock img{
    width: 2.3em;
    height: 2.3em;
    padding: 0px 0px;
   
}
.avatar-clock > img{
    border-radius: 50%;
}
.message{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin:7px 6px 0px -2px;
    padding-left:3px; 
    border: 1px solid #fff;
    height: 58px;

}
.message-top{
    height: 18px;
    font-size: 13px;
    color: #1e1e1e;
    line-height:17px; 
   
}
.massage-mid{
    flex-grow: 1;
    font-size: 13px; 
    color: #1e1e1e;
    font-weight: 550;
    line-height: 15px;

}
.massage-bottom{
    margin-top: 6px;
    height: 27px;
    font-size: 11.7px;
    display: flex;
   
}
.title-icontime{
    color: rgb(119, 119, 119);
    font-size: 11.7px;
    padding: 1px 3px;
    line-height: 15px;
   
    flex-grow: 1;
}
.event-icon{
    width: 18px;
}
.event-icon img{
    width: 18px;
    height: 18px;
}
.tinnhan{
    flex-grow: 1;
    position: relative;
}
.arrow-tinnhan{
    display: none;
    position: absolute;
    top:42px;
    left: 4px;
    width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
    border-bottom: 15px solid#fff ;
}
.tinnhan-thongbao{
    display: none;
    position: absolute;
    top: 58px;
    left: -129px;
    width: 300px;
    height: 226px;
    background: #fff;
    z-index: 5;
    flex-direction: column;
}
.tinnhan-thongbao-mid{
    width: 300px;
    height: 157px;
    margin: 15px 0px;
}
.notification .avt-tinnhan svg{
    height: 100px;
    margin: -5px 20px 0px 63px;
}
.title-noconversation{
    margin-bottom: 10px;
}
.title-noconversation h1{
    font-size: 14px;
    color: #5b5b5b;
    padding: 0px 82px 0px 82px;
    margin: -6px 0px 3px 0px;
}
.title-bottom-tinnhan{
    height: 40px;
}
.title-bottom-tinnhan p{
font-size: 11px;
color: rgb(163, 163, 163);
padding: 15px;
margin: -10px -1px 5px 0px;
text-align: center;
zoom: 1;
}
/*.tinnhan:hover .arrow-tinnhan{
    display: block;
}
.tinnhan:hover .tinnhan-thongbao{
    display: block;
}
*/
.notification svg{
    margin: 7px 1px;
    cursor: pointer;
    padding: 5px;
    fill:#737272;
}
#content-username{
    width: 226px;
    font-size: 13px;
    color: #262626;
    display: flex;
    position: absolute;
    display: none;
    background-color: #fff;
    border:  2px solid rgba(0,0,0,0.05);
}
#content-username .listmenu {
    flex-grow: 1;
    list-style-type: none;
    padding: 5px 2px 5px 5px;
    display: flex;
    flex-direction: column;
    margin: -4px;
   
    
}
#content-username .listmenu li{
    cursor: pointer;
    height: 35px;
    display: block;
    margin-right: 2px;
    flex-grow: 1;
    line-height: 35px;
    padding: 0px 12px;
}

.listmenu li.option:hover {
    background:#0F7CBF;
}
/*  
.information:hover .content-username{
    display: block;
   
}
 */
.option.m-b{
    padding-bottom: 1px;
    margin-bottom: 1px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.option-no{
    color: #aaa;
}
.inbox{
    
    width: 280px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 1px;
    display: flex;

}
.icon-inbox{
    
    margin: 10px 10px;
    padding-right: 10px;
    fill: #2b8dec;
    width: 20px;
}

span.title-inbox{
    line-height: 40px;
    text-align: left;
    font-size: 15px;
    margin-left: 5px;
    color: #262626;
    flex-grow: 1;
}
span.number-inbox{
    color: #bdbcbb;
    font-size: 12px;
    width: 20px;
    line-height: 40px;
    padding-right:30px: ;
}
.Groceries{
    width: 280px;
    height: 40px;
    cursor: pointer;
    display: flex;
}

.icon-Groceries{
    margin: 10px 10px;
    padding-right: 10px;
    fill: #262626;
    width: 20px;
   
}
.title-Groceries{
    line-height: 40px;
    text-align: left;
    font-size: 15px;
    margin-left: 5px;
    flex-grow: 1;
    color: #262626;
}
.list-options {
    margin: 10px;
    width: 40px;
    padding: 0px 10px;
}
.thunho-main-left-mid-groceries{
    height: 45px;
    padding: 10px;
    cursor: pointer;
    fill: #328ad6;
    display: none;
}
.new-list-dropzone{
   
    flex-grow: 1;
}
.left-bottom{
    background:rgb(247,247,247);
    height: 43px;
    overflow: hidden;
}
.Create-list{
    background: rgb(247,247,247);
    width: 280px;
    height: 40px;
    cursor: pointer;
    display: flex;
}
.icon-Createlist{
    
    margin: 10px 15px;
    padding-right: 10px;
    fill: #328ad6;
    width: 20px;
    
}
.title-Createlist{
    line-height: 40px;
    text-align: left;
    font-size: 15px;
    margin-left: 0px;
    flex-grow: 1;
    color: #328ad6;
}
.list-toolbar{
    background: #669844;
    display: flex;
    height: 46px;
    margin-bottom: 1px;
    flex-shrink: 2;
}
.title-Groceries-toolbar{
    flex-grow: 1;
    font-size: 20px;
    padding: 0px 10px;
    font-weight: 200;
    color: #fff;
    line-height: 45px;
    height: 45px;
}
.share{
    width: 54px;
    fill: #fff;
}
.sort{
    cursor: pointer;
    width: 54px;
    fill: #fff;
    z-index: 2;
    position: relative;
}

.sort-menu{
     display: none;
    height: 169px ;
    width: 250px;
    background:#669844;
    position: absolute;
    right:-53px;
    top:46px;
    cursor: pointer;
    
}
.sort-menu .listmenu-sort{
    list-style-type: none;
    margin: 0px 10px 0px 0px;
    width: 250px;
}
.sort-menu .listmenu-sort li {
    height: 30px;
    margin: 1px 0px 4px -42px;
    width: 250px;
}
.sort-menu .listmenu-sort li a{
    text-decoration: none;
    color: #fff;
    position: relative;
    /* background: rgba(255,255,255,0.1); */
}
.sort-menu .listmenu-sort li a svg{
    fill: #fff;
    margin: 6px -5px -7px 13px;
}
.sort-menu .listmenu-sort li a text{
    width: 250px;
    line-height: 18px;
    font-size: 14px;
    padding: 0px 5px 10px 5px;
    
}
 #SortbyAssignee a text{
    color:  #aaa;
}
#SortbyAssignee a svg{
    fill: #aaa;
}
 
.listmenu-sort li:hover{
    background: rgba(255,255,255,0.1);
}

.more{
    cursor: pointer;
    width: 54px;
    fill: #fff;
    position: relative;
    z-index: 2;
}
.more-menu{
   display: none;  
   height: 274px ;
   width: 250px;
   background:#669844;
   position: absolute;
   right:1px;
   top:46px;
   cursor: pointer;
   
}
.more-menu .listmenu-more{
   list-style-type: none;
   margin: 0px 10px 0px 0px;
   width: 250px;
}
.more-menu .listmenu-more li {
   height: 30px;
   margin: 1px 0px 4px -42px;
   width: 250px;
}
.more-menu .listmenu-more li a{
   text-decoration: none;
   color: #fff;
   position: relative;
   /* background: rgba(255,255,255,0.1); */
}
.more-menu .listmenu-more li a svg{
   fill: #fff;
   margin: 6px 0px -5px 13px;
}
.more-menu .listmenu-more li a text{
   width: 250px;
   line-height: 18px;
   font-size: 14px;
   padding: 0px 5px 10px 5px;
   
}
#DoNotDisturb a text{
   color:  #aaa;
}
#DoNotDisturb a svg{
   fill: #aaa;
}
.more-menu .listmenu-more li:hover{ 
    background: rgba(255,255,255,0.1); 
}
 

.title-right-toolbar{
    text-align: center;
    color: #fff;
    font-size: 10px;
}
.share svg{
    margin-top: 5px;
}
.sort svg{
    margin-top: 5px;
    margin-left: 15px;
}
.more svg{
    margin-top: 5px;
    margin-left: 15px;
}
.task-scroll{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
   background-color: transparent; 
}
/*  
::-webkit-scrollbar-thumb{
    background-color:  #5a863c;rgb(163,171,150)
    border-radius: 3px;
} 
*/
::-webkit-scrollbar-thumb{
    background-color: rgb(215,215,215);
    border-radius: 3px;
} 
.addtask{
    display: flex;
    height: 47px;
    background: rgba(102,152,68,0.75);
    margin: 15px 10px 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.7;
  
}
.icon-add{
    border-radius: 5px;
    background:  rgba(102,152,68,0.75);
    width: 40px;
    height: 45px;
    fill: #fff;
    cursor: pointer;
    padding: 10px;
}
.input-add{
    display: flex;
    flex-grow: 1;
}
.input-add input[type=text]{
    height: 45px;
    flex-grow: 1;
    background: rgba(102,152,68,0.75); 
    border: none;
    color: white;
    outline: none;
    border-radius: 5px;

}
.input-add input[type=text]::placeholder{
    color:rgb(226, 216, 216);
    padding-left: 5px; 
   
}
.task-check{
    stroke: rgba(0,0,0,0.35);
}
.task-item{
    display: flex;
    height: 46px;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 1px 10px 1px 10px;
}
.task-item.task-item-none{
    display: none;
}
.icon-taskcheck{
    width: 20px;
    fill: rgba(0,0,0,0.35);
    margin: 13px 10px;
}
.icon-starttaskcheck{
    width: 20px;
    fill: rgba(0,0,0,0.35);
    margin: 12px 10px;
}
.title-taskcheck{
    line-height: 46px;
    flex-grow: 1;
    text-align: left;
    font-size: 15px;
    margin-left: 0px;
}
.show{
    height: 22px;
    width: 187px;
    background: rgba(102,152,68,0.75);
    text-transform: uppercase;
    font-size: 11px;
    color: #fff;
    margin: 15px 5px 10px 10px;
    border-radius: 5px;
    padding: 0px 10px;
    line-height: 22px;
    font-weight: 400;
    cursor: pointer;
    text-align: left;

}
.task-itemdeleted{
    display: flex;
    height: 46px;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 1px 10px 1px 10px;
    opacity: .6;
}
.task-itemdeleted.task-item-none{
    display: none;
}
.icon-checked{
    width: 20px;
    fill: rgba(0,0,0,0.35);
    margin: 13px 10px;
}
.icon-started{
    width: 20px;
    fill: rgba(0,0,0,0.35);
    margin: 12px 10px;
}
.title-checked{
    line-height: 46px;
    flex-grow: 1;
    text-align: left;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
}
.title-task{
    height: 19px;
    font-size: 15px;
    line-height: 19px;
    margin-top: 8px;
    text-decoration: line-through;
}
.title-time{
    flex-grow: 1;
    font-size: 10px;
    height: 20px;
    line-height: 20px;
}
.right-top{
    
    display: flex;
    background: rgb(255,255,255);
    height: 55px;
    border-bottom: 1px solid #ebebeb;
}
.right-bottom{
    
    height: 88px;
    display: flex;
    flex-direction: column;
    background: rgb(255,255,255);
    
}
.right-mid{
    flex-grow: 1;
    background: rgb(250,250,250);
    border-bottom: #ebebeb solid 1px;
    padding-bottom: 16px;
    overflow: auto;
}
.detail-check{
    stroke: rgba(0,0,0,0.35);
}
.icon-check{
    width: 20px;
    fill: rgba(0,0,0,0.35);
    margin: 19px 10px;
}
.icon-star{
    width: 30px;
    fill: rgba(0,0,0,0.35);
    margin: 0px 5px;
}
.display-view{
    line-height: 55px;
    flex-grow: 1;
    text-align: left;
    font-size: 16px;
    margin-left: 0px;
    font-weight: bold;
}
.section{
    display: flex;
    height: 48px;
    margin: 1px;
    
  
}
.icon-section-left{
    width: 20px;
    margin: 12px 10px;
    fill: #a3a3a2;
}
.icon-section-right{
    width: 32px;
    padding: 12px 0px;
    margin: 0px 0px;
    fill: #737272;
    border-bottom:#ebebeb solid 1px;
}
.iconright1{
    width: 32px;
    padding: 12px 0px;
    margin: 0px 0px;
    fill:#737272;
    border-bottom: #ebebeb solid 1px;
}
.title-section{
    flex-grow: 1;
    line-height: 48px;
    font-size: 15px;
    color: #9fa2a6;
    border-bottom: #ebebeb solid 1px;
}
.section input[type=text]{
    background: #fafafa;
    height: 30px;
    width: 100%;
    border: none;
    padding: 0px;
    outline: none;
    font-size: 15px;
}
.section input[type=text]::placeholder{
    font-size: 15px;
    color:#9fa2a6;
}
.comments-add{
    height:  44px;
    display: flex;
    padding: 5px;
}
.detail-info{
    flex-grow: 1;
    display: flex;
}
.comments-add input[type=text]{
    background: white;
    border: 1px solid#ebebeb;
    margin: 2px;
    width: 100%;
    border-radius: 3px;
    outline: none;
    padding-left:5px;
    font-family: "Lato","Geneva CY","Lucida Grande","Arial Unicode MS","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 400; 
    color: #9fa2a6;
}
.comments-add input[type=text]::placeholder{
    color: #7a7a7a;
    height: 20px;
    font-size: 15px;    
}
.icon-close-right{
    width: 20px;
    margin:10px 5px;
    opacity: 0.6;
    cursor: pointer;
}
.title-create_yesterday{
    flex-grow: 1;
    height: 44px;
    text-align: center;
    font-size: 12px;
    padding: 14px 35px;
    color: #a3a3a2;
}
.icon-recyclebin{
    width: 20px;
    margin:10px 5px;
    opacity: 0.6;
    cursor: pointer;
}
/*  
.dialog-wrapper{
    position: absolute;
}
*/
.main-interface{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    overflow: hidden;
    background: rgba(0,0,0,0.4);
    padding: 80px 0px;
    display: none; 
  
}
.setting{
    display: flex;
    height: 75%;
    width: 700px;
    top:0px;
    right: 0px;
    left:0px;
    bottom: 0px;
    margin: auto;
    flex-direction: column;
    position: fixed;
    /* top: 50px; */
    bottom: 50px;
    display: none;
    
}
.setting-top{
    height: 602px;
    background: rgb(255,255,255);
    display: flex;
    border-bottom: 1px solid rgb(247,247,247);
}
.setting-left{
    background: rgb(255,255,255);
    width: 132px; 
    border-right: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    overflow-y: auto;
    height: 100%;
    
}
.setting-right{
    flex-grow: 1;
    background: rgb(250,250,250);
    overflow-y: auto;
    padding: 10px;
    height: 100%;
}
.setting-bottom{
    flex-grow: 1;
    background: rgb(255,255,255);
    border-top: 1px solid #e0e0df;
}
.button-done{
    margin: 12px 5px 6px 566px;
}
.button-done button{
    background-color: #328ad6;
    color: #fff;
    font-size: 13px;
    width: 125.6px;
    height: 28.8px;
    border: none;
    border-radius: 3px;
    margin-bottom: 10px;
}
.tabpanel{
    cursor: pointer;
    list-style-type: none;
    margin: 5px 5px 5px 5px;
    font-size: 12px;
    color: #262626;
}
.tabpanel li{
    margin:-6px -5px 6px -45px;
    
}
.tabpanel li a{
    text-decoration: none;
    color: #262626;
    font-weight: bold;
}
.icon1{
    background-image: url(../image/icon.png);
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    transform: scale(.6);
}
.wunderlist-icon{
    background-position: -93px 0;
    width: 64px;
    height: 64px;
    transform: scale(.9);
}
.genaral{
    background-position: -157px 0;
    width: 40px;
    height: 40px;
}
.account{
    background-position: 0 -153px;
    width: 40px;
    height: 40px;
}
.shortcuts{
    background-position: -80px -153px;
    width: 40px;
    height: 40px;
}
.smartlist{
    background-position: -157px -40px;
    width: 40px;
    height: 40px;
}
.notifications{
    background-position: -60px -93px;
    width: 40px;
    height: 40px;
}
.about{
    background-position: -40px -153px;
    width: 40px;
    height: 40px;
}
.setting-genaral{
width: 100%;
height: 100%;


}
.setting-genaral-top{
    height: 170px;
    border-bottom: 1px solid  #e0e0df;
    padding: 5px 0px 10px 0px;
    
}
.setting-genaral-top .language{
    height: 35px;
    margin: 5px 0px;
    display: flex;
}

.language-right{
    font-size: 13px;
    flex-grow: 1;
    display: flex;
}
.setting-genaral-top .language .language-left{
    font-size: 13px;
    width: 320px;
    line-height: 35px;
    text-align: right;
    margin-right: 10px;
    color: #262626;
}
.setting-genaral-top .language .language-right {
    width: 100px;
    padding-left: 5px;
    
}
.setting-genaral-top .language .language-right select{
    height: 30px;
    font-size: 13px;
    border: 1px solid  #e0e0df;
    border-radius: 3px;
}
#language1{
    width: 138px;
}
#dateformat{
    width: 117px;;
}
#startoftheweek{
    width: 86px;
}
.language-right span{
    margin: 0px 0px;
    padding-bottom: 10px;
    
}
#check-time{
    padding: 10px 0px 10px 0px;
}
.account1{
   position: relative;
}

.setting-account{
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    display: none;
   
    z-index: 22222;
    
}
 
.account1:hover .setting-account{
    display: block;
}
 /* 
 .setting-account{
     display: none;
    width: 100%;
    height: 100%;
    border: 1px solid blue;
    z-index: 999999;
    
 }
 */
.setting-account-top {
    width: 100%;
    height: 164px;
    border-bottom: 1px solid #e0e0df;
    padding: 20px 200px 20px 210px;
    
}
.setting-account-top img{
 border-radius: 50%;
 width: 120px;
 height: 120px;
 
}
.setting-account-mid{
    width: 100%;
    height: 163.3px;
    border-bottom: 1px solid #e0e0df;
    margin: 5px 0px;
   
}
.setting-account-name{
    display: flex;
    height: 30.4px;
    margin-top: 8px;

    padding: 3px 0px;
}
.title-setting-account{
    text-align: right;
    font-size: 13px;
    width: 175.55px;
    line-height: 30px;
    padding: 0px 15px;
}
.setting-account-input{
    width: 359px;
}
.setting-account-input input[type=text]{
    width: 100%;
    height: 30.04px;
    background: #fff;
    border: 1px solid  #e0e0df;
    border-radius: 3px;
}
.setting-account-input input[type=text]::placeholder{
    color:#262626;
    border: none;
    padding: 0px 5px;
    
}
/*  */
.setting-account-input-mail1{
    width: 205.44px;
}
.setting-account-input-mail1 input[type=text]{
    width: 100%;
    height: 30.04px;
    background: #fff;
    border: 1px solid  #e0e0df;
    border-radius: 3px;
    outline: #0F7CBF;
}
.setting-account-input-mail1 input[type=text]::placeholder{
    color:#262626;
    border: none;
    padding: 0px 5px;
    
}
.setting-account-input-mail2{
    width: 153.6px;
    margin-left:10px; 
    height: 30.04px;
    
}
.setting-account-input-mail2 button{
    height: 30.04px;
    width: 153.6px;
    background: rgb(255,255,255);
    font-size: 13px;
    color: #262626;
    border: 1px solid #e0e0df;
  
    border-radius: 3px;
}
#setting-account{
    padding-top: 15px; 
}
#setting-account-title a {
    text-align: center;
    color: #328ad6;
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 175px;
    line-height: 30px;
    
}
.setting-account-input-password{
    width: 205.44px;
    height: 28.8px;
   
}

.setting-account-input-password button{
    height: 30.04px;
    background: rgb(255,255,255);
    font-size: 13px;
    border-radius: 3px;
    border: 1px solid #e0e0df;
    width: 205.44px;
    height: 28.8px;
    font-weight: bold;
    cursor: pointer;
    color: #737272;
    
}
.create-new-list{
    background: white;
    display: flex;
    height: 298px;
    width: 392px;
    right: 0px;
    left: 0px;
    margin: auto;
    flex-direction: column;
    position: fixed;
   border-radius: 3px;
   display: none;
    
}
.content-header{
    height: 188px;
    padding: 10px;
    
}
.title-create-new-list{
    padding: 5px;
    height: 37.4px;
    text-align: center;
    font-size: 16.68px;
    color: #262626;
    font-weight: 600;
}
.listname input[type="text"]{
    height: 37.4px;
    width: 100%;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
}
.listname input[type="text"]::placeholder{
    padding: 5px;
    font-size: 15px;
}
.listnamemenu{
    height: 21.8px;
}
.listnamemenu-tab li{
    padding: 0px;
    font-size: 10px;
    display: inline;
}
.listnamemenu-tab li a{
    text-decoration: none;
    margin-right:5px; 
    color:#262626;
    font-weight: 550;
    border-bottom: 0.01px solid rgb(208,208,208);
}
.listnamemenu-tab li a:hover{

    color: #2b8dec;
    border-bottom: 1px solid #2b8dec;
}
.listnamemenu-tab{
    cursor: pointer;
    list-style-type: none;
    font-size: 12px;
    color: #262626;
    padding: 0px;
    border-bottom: 1px solid rgb(208,208,208);
}
.name-or-email{
    margin-top: 10px;
    display: flex;
    height: 39px;
    padding: 5px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
}
.icon-add-member{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.icon-add-member svg{
    fill:#737272;
   
}
.input-name-email{
    flex-grow: 1;
    
}
.input-name-email input[type="text"]{
    width: 100%;
    outline: none;
   border: none;
}
.content-mid{
    border:  1px solid rgb(208,208,208);
    height: 56px;
    display: flex;
    padding-left: 5px;
}
.content-mid-avatar{
    padding-top: 5px;
    width: 50px;
}
.content-mid-information{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.content-mid-information-top{
    flex-grow: 1;
    display: flex;
    padding-top: 5px;
}
.title-name{
   width: 60px;
   color: #262626;
   font-weight: 600;
   font-size: 14px;
}
.owner{
    color: #328ad6;
    border: 1px solid #328ad6;
    width: 35px;
    border-radius: 10px;
    font-size: 8px;
    text-align: center;
    height: 13px;
    font-weight: 600;
    margin: 5px 10px 5px 0px;
}
.content-mid-information-bottom{
    height: 30px;
    font-size: 12px;
    color: #737272;
}
.content-footer{
    height: 53px;
    display: flex;
    padding: 10px 0px 10px 150px;
}
.content-footer button{
    background-color:rgb(250,250,250);
    width: 102px;
    height: 29px;
    margin-left:10px; 
    font-size: 13px;
    border: 1px solid rgb(208,208,208);
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}
.save button{
    background-color: #328ad6;
    color: #fff;
}
.delete-to-do{
    background: white;
    display: flex;
    height: 166px;
    width: 392px;
    right: 0px;
    left: 0px;
    margin: auto;
    flex-direction: column;
    position: fixed;
    border-radius: 3px;
    display: none;
}
.content-inner{
    height: 112px;
    display: flex;
    padding: 24px;
    border-bottom: 1px solid rgb(208,208,208);
}
.title-delete-to-do{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    
}
.title-delete-to-do h3{
    font-weight: 600;
    font-size: 15px;

}
.title-delete-to-do-top{
    flex-grow: 1;
    font-weight: 600;
    font-size: 15px;
}
.title-delete-to-do-bottom{
    
    height: 40px;
    font-size: 11px;
}
.delete-to-do-bottom{
    height: 53.8px;
    display: flex;
    padding: 12px 0px 10px 90px;
}
.delete-to-do-bottom button{
    width: 140px;
    height: 29px;
    margin-right: 10px;
    cursor: pointer;
    outline: none;
    border: 1px solid rgb(208,208,208);
    font-size: 13px;
    font-weight: 600;
    background-color: rgb(250,250,250);
}
.delete-to-do-bottom button.btn-delete{
    background: #328ad6;
    color: #fff;
    border: 1px solid rgb(208,208,208);

}
.context-menu{
    height: 68px;
    width: 200px;
    background: #fff;;
    position: absolute;
    border-radius: 5px;
    display: none;
    z-index: 100;
}
.context-menu ul{
   list-style-type: none;
   margin: 0px 0px 0px 2px;
   width: 200px;
}
.context-menu ul li{
   height: 30px;
   margin: 0px 0px 4px -42px;
   width: 200px;
   /* padding-left: 3px; */
}
.context-menu ul li a{
   text-decoration: none;
   color: #262626;
   font-size: 13px;
}
.context-menu ul li:hover{
    background :#EFF4EC;
}
.context-menu ul li a svg{
    fill: #737272;
    margin: 8px 2px -4px 6px;
}
/*    */
.context-menu2{
    height: 287px;
    width: 200px;
    background: #fff;;
    position: absolute;
    border-radius: 5px;
    display: none;
    z-index: 100;
}
.context-menu .create-folder{
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 5px;
    padding-bottom: 33px;
}
.context-menu3{
    height: 385px;
    width: 205px;
    background: #fff;;
    position: absolute;
    border-radius: 5px;
    /* display: none; */
    z-index: 100;
}
.context-menu4{
    height: 186px;
    width: 200px;
    background: #fff;;
    position: absolute;
    border-radius: 5px;
    /* display: none; */
    z-index: 100;
}

/*                 reponsive                     */
/* @media  screen and (max-width: 926px){
    .main-left .thunho-main-left{
        display: block;
        }
        
} */
/*                 xu ly js bang css                            */
#content-username.class-none{
    display: block;
}
.class-none{
    display: block;
}
.main-right .class-none1{
    display: none;
}
.click-hover{
    background:rgb(234,234,234);
}
.color-hover{
    background: #e1f2fe;
}

.class-an{
    display: none;
}
.main-left .thunho-main-left .class-an{
    display: none;
}
.main-mid .class-an {
    display: none;
}
#main-right5.main-right.class-width{
    width: 100%;
}